- content_for :side_content do
  %iframe{frameborder:"0", height: "250", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://www.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=inspire9&aq=&sll=37.0625,-95.677068&sspn=54.137829,71.279297&ie=UTF8&hq=inspire9&t=m&ll=-37.82397,144.991078&spn=0.017627,0.032015&output=embed"}
  = link_to "I’m attending"

.content-block
  %h2.event-title Planning for Customer Growth
  .event-info
    with <b>Ruslan Kogan</b> on <b>21/02/13</b> at <b>Insire9</b>
  %div.event-description 
    %p Holy Crap! I went on holiday for 2 weeks and forgot to schedule the meetup! Sorry about that! Well here it is, so sign up now cos there'll be a mad rush for tickets!
    %p This month we welcome Stephen Neville from Common Code to talk about "Planning for customer growth". This is a must attend for anyone in the early stages of finding an audience for their great idea. Learn about the onboarding funnel, Pirate Metrics and how to get the most out of your marketing dollar.
    %p This is the last HeadStart event for the year, so be sure to drop in for Pizza (courtesy of Starfish Ventures) and Beer (courtesy of BugHerd). We've allowed extra time for both this month so there'll be more time for socialising. :)

%h4.heading Discussion
.content-block
  dasdas