.gw
  =image_tag "mast.jpg"
  .g.one-whole.centered
    .upcoming-events
      %h3.heading Coming Up
      .event-item
        %h4.event-title Starting Business Logistics
        .event-info with <b>Ruslan Kogan</b>
        .event-person
          .event-person-avatar= image_tag "kogan.png", :width => 80
        = link_to "view details", :event, :class => "btn"
      