.gw
  .g.one-whole.centered
    .upcoming-events
      %h3 Upcoming Events
      %dl.event-col
        %dt.event-type Talks
        %dd.event-item
          .event-person
            .event-person-avatar
            .event-person-name John Doe
      %dl.event-col
        %dt.event-type Workshops
        %dd.event-item Something
