.event-item {
  width: 400px;
  margin: 0 auto;
}
.event-title {
  //margin: 0 0 .2em;
  padding-bottom: .1em !important;
  font-weight: 400;
  @extend .gamma;
  //font-family: "din-condensed-web";
  //text-transform: uppercase;
  //border-bottom: 3px solid $global-text;
  font-style: italic;
  display: inline-block;
}
.event-description {
  @extend .epsilon;
  color: darken($body-background, 40%);
}
.event-person-name {
  color: #75b4c7;
  font-weight: 600;
  @include font-size(12px);
  @extend .caps;
}
.event-attendees {

}