$topbar-height:       50px;
$topbar-background:   #f6f6f6;

#top-bar {
  position: relative;
  height: $topbar-height;
  margin-bottom: 50px;
  padding: 25px 0 0;
  text-align: center;
  text-align: left;
  @extend .caps;
  //background: $topbar-background;
  //border-bottom: 1px solid darken($topbar-background,10%);
}
.logo {
  float: left;
  width: 80px;
  margin: -15px 0 0;
  padding: 0;
}
.main-nav {
  float: left;
}
.user-nav {
  float: right;
}

